nav a {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  overflow: hidden;
  gap: 1rem;
  border-radius: 8px;
  transition: background-color 100ms;
}

nav a:hover {
  background: #e3e3e3;
}

nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

nav a.pending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

@keyframes progress {
  0% {
    background: #e3e3e3;
  }
  50% {
    background: hsla(224, 98%, 58%, 0.5);
  }
  100% {
    background: #e3e3e3;
  }
}

.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
